body {
	font-family: 'Roboto', sans-serif;
	color: #3a3f52;
}

h2 {
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}

h5 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .05em;
	color: #53627C;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

b {
	font-weight: 700;
}

section {
	padding: 100px 0px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-info {
    background-color: #BDE5F8;
    border-color: #BDE5F8;
    color: #00529B;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title-block {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.title-block p {
	font-size: 16px;
	font-weight: 300;
	color: #8da2b5;
	margin-bottom: 0px;
}

.divider {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
    border-top: 1px solid #3c3f45;
}

.divider-light {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
	border-top: 1px solid #edf1f2
}

.custom-navbar {
	background-color: #ffffff!important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
	height: 70px;
	max-height: 70px;
}

.navbar-toggler {
	font-size: 38px;
	background-color: transparent;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: none;
}

.navbar-toggler-icon {
	color: #ffffff;
}

.navbar-collapse {
	background-color: #ffffff;
}

.nav-custom-link {
	font-size: 17px;
	font-weight: 400;
	letter-spacing: .05em;
	margin-top: 5px;
}

.navbar a {
	color: #53627C !important;
}

.nav-right {
	float: right;
}

.btn {
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px!important;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.08);
}

.btn:hover {
	text-decoration: none;
}

.btn-regular {
	background-color: #8484fb;
	color: #ffffff;
	padding: 10px 25px;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-green {
	background-color: #46CB6B;
	color: #ffffff;
	padding: 10px 25px;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-regular:hover {
	background-color: #8484fb;
	color: #ffffff;
}

.btn-green:hover {
	background-color: #46CB6B;
	color: #ffffff;
}

.btn-download {
	background-color: #46CB6B;
	color: #ffffff;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-download:hover {
	background-color: #46CB6B;
	color: #ffffff;
}

.btn-informationM {
	background-color: #4790E3;
	color: #ffffff;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-informationM:hover {
	background-color: #4790E3;
	color: #ffffff;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.btn-reg-red {
	background-color: #f96854;
	color: #ffffff;
	padding: 10px 25px;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-reg-red:hover {
	background-color: #f96854;
	color: #ffffff;
}

.btn-reg-info {
	background-color: #4790E3;
	color: #ffffff;
	padding: 10px 25px;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-reg-info:hover {
	background-color: #4790E3;
	color: #ffffff;
}

.btn-red {
	color: #ffffff;
	background-color: #f96854;
	letter-spacing: .1em;
	padding: 15px 48px;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.btn-red:hover {
	color: #ffffff;
	background-color: #f96854;
}

#HeaderBox {
	background-image: url('images/Wallpaper.png');
}

#HeaderBox h1 {
	font-size: 50px;
	font-weight: 300;
	color: #FFFFFF;
}

#HeaderBox p {
	font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBox small {
	font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBox span {
	font-weight: 400;
  color: #0095f7;
  text-transform: uppercase;
  letter-spacing: .05em;
}

#HeaderBox3 {
	background-image: url('images/Wallpaper3.png');
}

#HeaderBox3 h1 {
	font-size: 50px;
	font-weight: 300;
	color: #FFFFFF;
}

#HeaderBox3 p {
	font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBox3 small {
	font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBox3 span {
	font-weight: 400;
  color: #0095f7;
  text-transform: uppercase;
  letter-spacing: .05em;
}

#HeaderBox4 {
	background-image: url('images/Wallpaper4.png');
}

#HeaderBox4 h1 {
	font-size: 50px;
	font-weight: 300;
	color: #FFFFFF;
}

#HeaderBox4 p {
	font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBox4 small {
	font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBox4 span {
	font-weight: 400;
  color: #0095f7;
  text-transform: uppercase;
  letter-spacing: .05em;
}

#HeaderBoxForDownloads {
	background-image: url('images/Wallpaper2.png');
}

#HeaderBoxForDownloads h1 {
	font-size: 50px;
	font-weight: 300;
	color: #FFFFFF;
}

#HeaderBoxForDownloads p {
	font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBoxForDownloads small {
	font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

#HeaderBoxForDownloads span {
	font-weight: 400;
  color: #0095f7;
  text-transform: uppercase;
  letter-spacing: .05em;
}

#AtariBotPreviewBox {
	background-color: #292c31;
}

#AtariBotPreviewBox h2 {
	color: white;

}

#AtariBotPreviewBox p {
  	font-size: 16.5px;
    font-weight: 300;
    color: white;
    margin-bottom: 0px;
    padding: 0px;
}

#AtariBotPreviewBox span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.content-box {
	padding: 60px 20px;
}

#PatreonBox {
	background-color: #EFF1F0;
	
}

#AboutBox {
	background-color: #EFF1F0;
}

.AboutBox-box {
	background-color: #ffffff;
	padding: 20px 20px;
	border: 1px solid #F8F9FB;
	border-radius: 6px;
	box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
	margin-top: 30px;
}

.AboutBox-box h2 {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: .1em;
	color: #0095f7;
}

.AboutBox-title-block {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.AboutBox-title-block p {
	font-size: 19px;
	font-weight: 300;
	color: #8da2b5;
	margin-bottom: 0px;
}

.AboutBox-box h2 {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: .1em;
	color: #0095f7;
}

.AboutBox-box h6 {
	font-size: 60px;
	font-weight: 700;
	color: #3a3f52;
	margin-bottom: 0px;
}

.AboutBox-box p {
	font-size: 15px;
	margin-top: 15px;
	padding: 0px;
}

#AboutDownloadBox p {
  	font-size: 16.5px;
    font-weight: 300;
    color: #8da2b5;
    margin-bottom: 0px;
    padding: 0px;
}



#AboutDownloadBox span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}

#AboutDownloadBox small {
	color: #8da2b5;
	letter-spacing: .2em;
}

#AboutDownloadBox {
	background-color: #EFF1F0;
}

#GalleryBox {
}

#AboutDownloadBox2 p {
  	font-size: 16.5px;
    font-weight: 300;
    color: #8da2b5;
    margin-bottom: 0px;
    padding: 0px;
}


#AboutDownloadBox2 span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}

#AboutDownloadBox2 {
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.PatreonBox-box {
	background-color: #ffffff;
	padding: 20px 20px;
	border: 1px solid #F8F9FB;
	border-radius: 6px;
	box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
	margin-top: 30px;
}

.PatreonBox-box h2 {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: .1em;
	color: #0095f7;
}

.PatreonBox-box h6 {
	font-size: 60px;
	font-weight: 700;
	color: #3a3f52;
	margin-bottom: 0px;
}

.PatreonBox-box p {
	font-size: 14px;
	margin-top: 15px;
	padding: 0px;
}

.PatreonBox-box ul {
	padding-left: 10px;
}

.PatreonBox-box li {
	font-size: 13px;
	font-weight: 300;
	color: #8da2b5;
}

.PatreonBox-box span {
	font-weight: 500;
	color: #0095f7;
}

.PatreonBox-box small {
	color: #8da2b5;
	letter-spacing: .2em;
}

.PatreonBox-box i {
	font-size: 20px;
	color: #0095f7;
	margin-right: 10px;
}

.PatreonBox-box .demo {
	color: #6772e5!important;
}

footer {
	background-color: #292c31;
    padding: 60px 0;
    color: #62656a;
}

footer h5 {
	color: #aeb3bd;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 20px;
}

footer p {
	font-size: 12px;
	font-weight: 300;
	color: #62656a;
	text-align: justify;
	padding: 0px;
}

footer li {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .05em;
	line-height: 1.5;
	margin-bottom: 10px;
}

footer a {
	color: #62656a;
}

footer a:hover {
	color: #0095f7;
	text-decoration: none;
}

footer i {
	font-size: 25px;
	color: #62656a;
	margin-right: 10px;
}

footer i:hover {
	color: #0095f7;
}

footer small {
	color: #62656a;
	float: right;
}

.external-links {
	color: #0095f7;
}

@media (max-width: 575.98px) {
	h2 {
		font-size: 34px!important;
		margin-bottom: 20px;
		line-height: 1.6;
	}
	.title-block h2, p {
		text-align: left;
		padding: 0px 20px;
	}

	footer {
		padding: 60px 25px;
	}
	footer h5 {
		font-size: 18px;
		margin-top: 30px;
	}
	footer li {
		font-size: 16px;
		margin-bottom: 15px;
	}
	footer p {
		font-size: 16px;
	}
	footer i {
		font-size: 30px;
		margin-right: 20px;
	}
	footer small {
		float: left;
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	#HeaderBox h1 {
		font-size: 34px!important;
		margin-bottom: 20px;

	}
	#HeaderBox p {
		font-size: 20px!important;
	}
}

@media (max-width: 991px) {
	.nav-right {
		float: left;
	}
	.nav-custom-link {
		border-bottom: 1px solid #EEE;
	}
	.navbar-nav{
		width: 100%;
	}
	.navbar-nav .nav-link {
		padding: 20px 0;
		text-align: left;
	}

	.nav-custom-link {
		font-size: 13px;
	}

	.icon-mobile {
		font-size: 18px;
		float: right;
	}

	.navbar-collapse {
		border-bottom: 1px solid #efefef;
	}

	.nav-logo-mobile {
		margin: auto;
		padding-right: 50px;
	}

	.nav-logo-desktop {
		display: none;
	}
}

@media (min-width: 992px) {
	.icon-mobile {
		display: none;
	}
	.nav-logo-mobile {
		display: none;
	}
}

@media (min-width: 1200px) {
	.hero-content {
		margin-top: 100px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.pricing-box h3 {
		font-size: 17px;
	}
	.pricing-box p {
		font-size: 14px;
	}
	.pricing-box li {
		font-size: 12px;
	}
	.profile-picture {
		width: 50px;
		height: 50px;
	}
	.testimonial-box h6 {
		font-size: 14px;
		margin-left: 10px;
	}
	.testimonial-box span {
		font-size: 12px;
	}
	.testimonial-box small {
		font-size: 12px;
		margin-top: 4px;
		margin-left: 10px;
	}
}
